@model IEnumerable<WhyWhere.Models.UserReview>
@using Microsoft.AspNet.Identity
@{
    /**/

    Layout = null;

}

<!DOCTYPE html>

<html>
<head>

    <title>Reviews</title>
    <link rel="stylesheet" href="~/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>@ViewBag.title</h1>
    <div id="wrap">

        <nav class="navbar">
            <ul>
                <li>
                    <img id="logo" src="https://image.ibb.co/i04Tjp/logofinal.png" />
                </li>
                <li class="navlist" style="color:black; text-decoration:none;">@Html.ActionLink("Почетна", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                <li class="navlist">
                    Медиуми
                </li>


                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()


                        <li id="zdravoCode" class="navlist" style="float:right; color:black; text-decoration:none">
                            @Html.ActionLink("Здраво " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { style = " margin-right:64px; font-size:13px", id = "zdravoCode", title = "loginLink" })
                        </li>

                        <li class="navlist" style="color:black; text-decoration:none">
                            <a id="addHover" style="color:black; text-decoration:none" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                        </li>

                    }
                }
                else
                {

                    <li class="navlist" style="color:black; text-decoration:none;">@Html.ActionLink("Регистрација", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>


                    <li class="navlist" style="color:black; text-decoration:none;">@Html.ActionLink("Најава", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>



                }

            </ul>


        </nav>

        @if (User.Identity.IsAuthenticated)
        {

            <a style="background-color:#78d2aa; font-family: Arial; font-weight: bolder; text-align: center; justify-content: center; margin-top:50px;height: 30px;line-height: 2;text-decoration:none; display:flex; align-self:baseline;" class="btn btn-info" href="@Url.Action("AddReview", "UserReviews")">Ваш коментар</a>
        }

        <ul id="reviewsList" style="list-style-type:none">

            @foreach (var i in Model)
            {

                <li>@i.User : @i.reviewDescription</li>


            }
        </ul>



    </div>


</body>
</html>
