@model WhyWhere.Models.CountryModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Why where?</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <ul class="slideshow">

        <li>
            <span>Image 01</span>
            <div>
                <h3>истражувај </h3>
            </div>
        </li>

        <li>
            <span>Image 02</span>
            <div>
                <h3>живеј </h3>
            </div>
        </li>


        <li>
            <span>Image 03</span>
            <div>
                <h3>освојувај</h3>
            </div>
        </li>

    </ul>

    <div style="width:100%; text-align:center">
        @using (Html.BeginForm("Selection", "Home", FormMethod.Post))
        {

            @Html.DropDownListFor(Model => Model.selectedCountry, new SelectList(Model.countries), new { @onchange = "ShowButton()", @class = "selectbox form-control" })

            <input style="display:none" type="submit" id="confirmBtn" value="Please Confirm">

        }


    </div>
    <script>
        function ShowButton() {
            document.getElementById("confirmBtn").style.display = "inline-block";

        }

    </script>
    <style>


        #confirmBtn {
            color: #D80286;
            border: 2px solid rgb(216, 2, 134);
            border-radius: 0px;
            padding: 18px 36px;
            display: inline-block;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
            transition: ease-out 0.4s;
            position: relative;
            background-color: #FFF;
        }

            #confirmBtn:hover {
                box-shadow: inset 0 0 0 50px #D80286;
                color: #FFF;
            }
    </style>


</body>
</html>
